
@import "../../../UI/Style.scss";


EquipmentPanel {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 22px;
    pointer-events: all;
    transition: opacity 0.13s ease;
    backdrop-filter: blur(5px);

    .left {
        flex-direction: column;
        justify-content: center;
        width: 30%;
        padding: 22px;

        .items {
            flex-wrap: wrap;
        }
    }

    .right {
        flex-direction: column;
        justify-content: center;
        width: 69%;
        padding: 22px;

        .items {
            flex-wrap: wrap;
        }
    }
}
