
@using GeneralGame
@namespace GeneralGame.UI
@attribute [StyleSheet]
@inherits Panel


<root class="txt">
    
    <div class="img_button" onclick=@( () => Select() )>

        <img class="cat_icon" src=@entry.Icon />
        <label class="game_name txt">@entry.Title</label>

    </div>
           
</root>

@code
{
    // @( entry.Description == "none" ? "hidden" : "" )
    public TypeDescription entry { get; set; }
    private LobbyPanel lobby { get; set; }

    public CategoryImage(TypeDescription info, LobbyPanel parent)
    {
        entry = info;
        lobby = parent;
    }

    public void Select()
    {
        lobby.SelectCategory(this, entry.ClassName);
    }
    
}
