
@using GeneralGame
@namespace GeneralGame.UI
@attribute [StyleSheet]
@inherits Panel


<root class="txt">

    <div class="img_button" onclick=@( () => Select() )>

        <img class="cat_icon" src=@map.Background />
        <label class="game_name txt">@map.Title</label>

    </div>
</root>

@code
{

    public MapDefinition map { get; set; }
    private LobbyPanel lobby { get; set; }

    public MapImage(MapDefinition info, LobbyPanel parent)
    {
        map = info;
        lobby = parent;
    }

    public void Select()
    {
        lobby.SelectMap(this);
    }
    
}
